.h2_ch a:hover {
	color: #C5D2D2;
	font-weight: bold;
	background-position: 0px -32px;
}

.h2_ch a.here {
	color: #FFF;
	font-weight: bold;
	background-position: 0px -32px;
}

.h2_ch a {
	float: left;
	height: 32px;
	margin-right: -1px;
	padding: 0px 16px;
	line-height: 32px;
	font-size: 16px;
	font-weight: normal;
	border: 1px solid #C5C5C5;
	background: url('/ares/png/img/admin/bg_ch.gif') repeat-x scroll 0% 0%
		transparent;
}

a {
	color: #06C;
	text-decoration: none;
}